*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: antiquewhite;
}

.container{
    max-width: 900px;
    margin: 0 auto;
   
   
}
.content{
    max-width: 600px;
    background-color: whitesmoke;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.inline{
    display: inline;
}

span{
    font-size: 1.5rem;
}


.form-cont{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form-ctrl{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    font-size: 15px;
}
input,textarea,select:focus{
    outline-color: red;
}
.btn-cont{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: red;
   border: transparent solid 2px;
    border-radius: 10px;
    padding:5px 10px ;
    color: white;
    transition: 0.5s ease-in;
}
button:hover{
    background-color: antiquewhite;
    border: 2px solid red;
    color: black;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.text-ctrl{
    grid-column: 1 / span 2;
}

.text-ctrl textarea{
    width: 100%;
}

@media screen and (max-width:460px) {
    .text-ctrl{
        grid-column: 1 / span 1;
    }
}